.home-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.child-container {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.empty {
  margin: 0 auto;
}

.col-left {
  width: 70%;
  display: flex;
  padding: 18px;
  align-items: flex-start;
  flex-direction: column;
}

.col-right {
  width: 20%;
  display: flex;
  padding: 18px;
  flex-direction: column;
}

.all-tags {
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px #d3d3d3;
}

.tag {
  width: fit-content;
  padding: 3px;
  margin: 8px 5px;
  border-radius: 5px;
}

.tag:hover {
  cursor: pointer;
}